/* ----------------------------------------------------
SETTINGS
---------------------------------------------------- */
$form:                $cloud-xxdark;
$form-bg:             $white;
$form-border:         $cloud-light;
$form-border-focus:   $cloud-xdark;
$form-border-error:   $error;
$form-info:           $cloud-dark;
$form-placeholder:    $cloud;
$form-focus:          $cloud-xdark;
$form-disabled:       $cloud-dark;
$form-disabled-bg:    lighten($cloud-xlight, 7%);