/* ----------------------------------------------------
SETTINGS
---------------------------------------------------- */
$form:                $black-80;
$form-bg:             $white;
$form-border:         $cloud-light;
$form-border-focus:   $cloud-xdark;
$form-border-error:   $error;
$form-info:           $cloud-dark;
$form-placeholder:    $cloud;
$form-focus:          $cloud-xdark;
$form-disabled:       $cloud-dark;
$form-disabled-bg:    lighten($black-50, 7%);