/* ----------------------------------------------------
STYLES ONLY USED IN STYLEDOUGH; DELETE ME LATER
---------------------------------------------------- */
@import './0-config/functions/strip-unit';
@import './0-config/functions/rem';
@import './0-config/vars/border-radius';
@import './0-config/vars/box-shadow';
@import './0-config/vars/breakpoints';
@import './0-config/vars/colors';
@import './0-config/vars/site-settings';
@import './0-config/vars/spacing';
@import './0-config/vars/support-queries';
@import './0-config/vars/type';
@import './0-config/mixins/clearfix';
@import './0-config/mixins/focus-state';
@import './0-config/mixins/font-awesome';
@import './0-config/mixins/screen-reader-text';
@import './0-config/mixins/scrollbars';
@import './0-config/mixins/selection-bkg';
@import './0-config/reset';

/* ----------------------------------------------------
STYLEDOUGH STYLES ONLY
---------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
$sd-font-heading: 'Satisfy', cursive;
$sd-font-body: 'Arial', sans-serif;
$pink: #a9177a;
$brown-light: #f6ebc1;
$brown-med: #aaa187;

// Base structure
body.styledough {
	@media ($md-up) {
		display: grid;
		grid-template-columns: clamp(150px, 250px, 75vw) 1fr;
		grid-template-rows: 1fr;
	}

	.sd-title {
		font-family: $sd-font-heading;
		font-size: rem(18);
	}

	.sd-sidebar {
		@media ($md-up) {
			grid-column: 1/1;
			grid-row: 1/1;
		}

		nav {
			padding: 2rem 1.5rem;

			@media ($md-up) {
				position: sticky;
				top: 0;
			}

			ul {
				margin: 0;
				padding: 0;
			}
		}
	}

	main {
		padding: 2rem 1.5rem;

		@media ($md-up) {
			grid-column: 2/2;
			grid-row: 1/1;
		}
	}

	section {
		max-width: 100ch;
		border-bottom: 4px solid $black;
		padding-bottom: rem(30);
		margin-bottom: rem(60);

		.sd-section-heading {
			display: inline-block;
			font-family: $sd-font-heading;
			font-size: rem(48);
			font-style: normal;
			color: $pink;
			margin-bottom: rem(30);
		}

		.sd-section-subheading {
			font-family: $sd-font-body;
			font-size: rem(30);
			font-weight: normal;
			text-transform: none;
		}
	}
}

// Color swatches
.sd-swatch {
	&-name {
		font-family: $sd-font-body;
		font-size: 1rem;
		font-weight: bold;
		font-style: normal;
		margin: 0 0 .75rem 0;
	}

	&-grid {
		display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  	grid-gap: 1rem;
		margin-bottom: 2rem;
	}

	&-tile > div {
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		justify-content: center;
		height: 4rem;
		padding: 0 .5rem;
		border-radius: .5rem;
	}
}
