/* ----------------------------------------------------
STICKY FOOTER WRAP
---------------------------------------------------- */

body {
	display: flex;
	flex-direction: column;
    justify-content: space-between;
}

.sticky-footer-wrap {
	min-height: 100vh;
    flex: 1 1 auto;
    display: flex;
	flex-direction: column;
    justify-content: space-between;
    
	.header, .footer {
		flex: none;
    }
    
	main {
		flex: 1 0 auto;
        width: 100%;
        
        &:focus {
            outline: none;
        }
	}
}