/* ----------------------------------------------------
BRAND
https://mdigi.tools/color-shades/
---------------------------------------------------- */
$violet: #540d6e;
$violet-light: #d78df2;
$violet-dark: #3a094c;

$pink: #ee4266;
$pink-light: #f48aa0;
$pink-dark: #750b21;

$yellow: #ffd23f;
$yellow-light: #ffe180;
$yellow-dark: #806200;

$teal: #3bceac;
$teal-light: #3bceac;
$teal-dark: #196654;

$green: #0ead69;
$green-light: #89f5c7;
$green-dark: #0a7648;

/* ----------------------------------------------------
GRAYS
The scale goes from light to dark
(i.e. black-90 is 90% $black, black-30 is 30% $black)
---------------------------------------------------- */
$white: #ffffff;
$gray-10: #e8e8e8;
$gray-20: #d1d1d1;
$gray-30: #bababa;
$gray-40: #a3a3a3;
$gray-50: #8d8d8d;
$gray-60: #767676;
$gray-70: #5f5f5f;
$gray-80: #484848;
$gray-90: #313131;
$black: #1a1a1a;

$trans: rgba(255, 255, 255, 0);

/* ----------------------------------------------------
UTILITY
---------------------------------------------------- */
$muted: $gray-50;
$muted-light: $gray-40;
$muted-dark: $gray-60;

$info: $teal;
$info-light: $teal-light;
$info-dark: $teal-dark;

$warning: $yellow;
$warning-light: $yellow-light;
$warning-dark: $yellow-dark;

$success: $green;
$success-light: $green-light;
$success-dark: $green-dark;

$error: $pink;
$error-light: $pink-light;
$error-dark: $pink-dark;

/* ----------------------------------------------------
UTILITY COLOR MAPS
---------------------------------------------------- */
// Background colors
$bkg-colors: ();
$bkg-colors: map-merge(
  (
    "violet": $violet,
  ),
  $bkg-colors
);

// Border colors
$border-colors: ();
$border-colors: map-merge(
  (
    "violet": $violet,
  ),
  $border-colors
);

// Text colors
$text-colors: ();
$text-colors: map-merge(
  (
    "muted": $muted,
    "muted-dark": $muted-dark,
    "info": $info,
    "info-dark": $info-dark,
    "warning": $warning,
    "warning-dark": $warning-dark,
    "success": $success,
    "success-dark": $success-dark,
    "error": $error,
    "error-dark": $error-dark,
  ),
  $text-colors
);
