/* ----------------------------------------------------
BRAND
---------------------------------------------------- */
$violet: #540d6e;
$violet-light: lighten($violet, 5%);
$violet-dark: darken($violet, 5%);

$pink: #ee4266;
$pink-light: lighten($pink, 5%);
$pink-dark: darken($pink, 5%);

$yellow: #ffd23f;
$yellow-light: lighten($yellow, 5%);
$yellow-dark: darken($yellow, 5%);

$teal: #3bceac;
$teal-light: lighten($teal, 5%);
$teal-dark: darken($teal, 5%);

$green: #0ead69;
$green-light: lighten($green, 5%);
$green-dark: darken($green, 5%);

/* ----------------------------------------------------
GRAYS
---------------------------------------------------- */
$black: #111827;
$black-90: lighten($black, 10%);
$black-80: lighten($black, 20%);
$black-70: lighten($black, 30%);
$black-60: lighten($black, 40%);
$black-50: lighten($black, 50%);
$black-40: lighten($black, 60%);
$black-30: lighten($black, 70%);
$black-20: lighten($black, 80%);
$black-10: lighten($black, 90%);
$white: #ffffff;

$trans: rgba(255, 255, 255, 0);

/* ----------------------------------------------------
UTILITY
---------------------------------------------------- */
$muted: $black-50;
$muted-light: $black-40;
$muted-dark: $black-60;

$info: $teal;
$info-light: $teal-light;
$info-dark: $teal-dark;

$warning: $yellow;
$warning-light: $yellow-light;
$warning-dark: $yellow-dark;

$success: $green;
$success-light: $green-light;
$success-dark: $green-dark;

$error: $pink;
$error-light: $pink-light;
$error-dark: $pink-dark;

/* ----------------------------------------------------
UTILITY COLOR MAPS
---------------------------------------------------- */
// Background colors
$bkg-colors: ();
$bkg-colors: map-merge(
  (
    "violet": $violet,
  ),
  $bkg-colors
);

// Border colors
$border-colors: ();
$border-colors: map-merge(
  (
    "violet": $violet,
  ),
  $border-colors
);

// Text colors
$text-colors: ();
$text-colors: map-merge(
  (
    "muted": $muted,
    "muted-dark": $muted-dark,
    "info": $info,
    "info-dark": $info-dark,
    "warning": $warning,
    "warning-dark": $warning-dark,
    "success": $success,
    "success-dark": $success-dark,
    "error": $error,
    "error-dark": $error-dark,
  ),
  $text-colors
);
