/* ----------------------------------------------------
FONT FAMLIES
---------------------------------------------------- */
$sans: 'Source Sans Pro', sans-serif;;
$serif: 'Source Serif Pro', serif;

$body: $sans;

$font-families: ();
$font-families: map-merge(
  (
    "sans": $sans,
    "serif": $serif
  ),
  $font-families
);

/* ----------------------------------------------------
FONT SIZES
---------------------------------------------------- */
$font-size-base-px: 16px;
$font-size-base:  1rem;

/* ----------------------------------------------------
FONT WEIGHTS
May change based on font family used
---------------------------------------------------- */
$font-weight-normal:    400;
$font-weight-semibold:  600;
$font-weight-bold:      700;