/* ----------------------------------------------------
FLUID TYPE
Type on an element has a min and max font-size, with 
fluidity between the min and max viewports. Min and max 
viewports are default at 320px and $max-width-xl 
but can be overridden in the mixin.

// Resources
- https://css-tricks.com/snippets/css/fluid-typography/

// Usage
- @include fluid-type(16px, 22px); // Default VWs
- @include fluid-type(16px, 22px, $min-vw: 768px, $max-vw: 2200px);
---------------------------------------------------- */
@mixin fluidType($min, $max, $min-vw: 320px, $max-vw: 1440px) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min);
    $u4: unit($max);

    @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
        & {
            font-size: $min;

            @media screen and (min-width: $min-vw) {
                font-size: calc(#{$min} + #{strip-unit($max - $min)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }

            @media screen and (min-width: $max-vw) {
                font-size: $max;
            }
        }
    }
}

/* ----------------------------------------------------
PX to REM
Converts pixel units found in static assets to 
REM value based on $font-size-0

// Usage
- @include fontSize(16px);
---------------------------------------------------- */
@mixin fontSize($px-size) {
	$rem-size: (strip-unit($px-size) / strip-unit($font-size-base));
	font-size: #{strip-unit($px-size)}px;
	font-size: #{$rem-size}rem;
}