{% macro colorSwatch(colorName, colorBase, colorShades, colorNotes) %}
	<h2 class="sd-swatch-name">{{ colorName }}</h2>
	<div class="sd-swatch-grid">
		<div class="sd-swatch-tile">
			<div style="background-color: {{ colorBase.hex }};{% if colorBase.textColor %}color: {{ colorBase.textColor }}{% endif %};">
				<span>{{ colorBase.hex }}</span>
				<span>{{ colorBase.var }}</span>
			</div>
		</div>

		{% for color in colorShades %}
			<div class="sd-swatch-tile">
				<div style="background-color: {{ color.hex }};{% if color.textColor %}color: {{ color.textColor }}{% endif %};">
					<span>{{ color.hex }}</span>
					<span>{{ color.var }}</span>
				</div>
			</div>
		{% endfor %}
	</div>
{% endmacro %}