/* ----------------------------------------------------
SETTINGS
---------------------------------------------------- */
$hr-color:          rgba(0, 0, 0, .1);
$hr-height:         1px;

/* ----------------------------------------------------
STYLES
---------------------------------------------------- */
hr {
	border: 0;
	height: $hr-height;
	background-color: $hr-color;
    margin: $spacing-type-flow 0;
    border: 0;
}