/* ----------------------------------------------------
FONT FAMILIES
---------------------------------------------------- */
@each $name, $var in $font-families {
  .font-#{$name} {
     font-family: $var;
  }
}

/* ----------------------------------------------------
TEXT ALIGNMENT
---------------------------------------------------- */
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}